# Ecobee API
ECOBEE_API_KEY=pheltzel@gmail.com
ECOBEE_REFRESH_TOKEN=Hobie14!

# Emporia Vue API
EMPORIA_EMAIL=pheltzel@gmail.com
EMPORIA_PASSWORD=pC4ZXzJyfFveYTTrfQ2v

# EG4 Monitor Portal
EG4_EMAIL=pheltzel
EG4_PASSWORD=Zzdrewthelines10!

# Server
PORT=3001
